# Следующая команда работает для загрузки при использовании Git для Windows:
# curl -LOf http://gist.githubusercontent.com/kmorcinek/2710267/raw/.gitignore
#
# Загрузите этот файл с помощью PowerShell v3 в Windows, выполнив следующую команду:
# Выполнить веб-запрос https://gist.githubusercontent.com/kmorcinek/2710267/raw/ -OutFile .gitignore
#
# или wget:
# wget --no-check-certificate http://gist.githubusercontent.com/kmorcinek/2710267/raw/.gitignore

# Пользовательские файлы
*.suo
*.пользователь
*.sln.документы

# Результаты сборки
[Dd]ебуг/
[Rr]elease/
x64/
[Bb]в/
[Оо]би Джей/
# папка сборки в настоящее время используется для сценариев сборки, и ее не следует игнорировать
#сборка/

# Пакеты NuGet
*.nupkg
# Папка packages может быть проигнорирована из-за восстановления пакета
**/пакеты/*
# кроме build/, который используется в качестве целевого объекта MSBuild.
**!/пакеты/сборка/
# Раскомментируйте при необходимости, однако, как правило, он будет восстановлен при необходимости
#!**/пакеты/репозитории.config

# Результаты теста MSTest
[Tt]есть[Rr]результат*/
[Bb]uild[Ll]og.*

*_i.c
*_p.c
*.ilk
*.мета
*.возражение
*.pch
*.pdb
*.pgc
*.пгд
*.rsp
*.сбр
*.tlb
*.тли
*.tlh
*.тмп
*.tmp_proj
*.журнал
*.vspscc
*.vssscc
.строит
*.пидб
*.scc

# Файлы кэша Visual C ++
ипч/
*.aps
*.ncb
*.opensdf
*.sdf
*.кэш-файл

# Профилировщик Visual Studio
*.psess
*.всп
*.vspx

# Инструментарий Автоматизации Руководства
*.gpState

# ReSharper - это надстройка для программирования в .NET
*_резчеров/
.*[Rr]e[Ss]harper

# TeamCity - это надстройка для сборки
_TeamCity*

# dotCover - это инструмент для покрытия кода
*.Точечная обложка

# NCrunch
*.ncrunch*
.*хруст*.local.xml

# Выходная папка Installshield
[Ee]xpress/

# DocProject - это надстройка для генератора документации
DocProject/buildhelp/
DocProject/Справка/*.HxT
DocProject/Справка/*.HxC
DocProject/Справка/*.hhc
DocProject/Справка/*.hhk
DocProject/Справка/*.hhp
DocProject/Справка/Html2
DocProject/Справка/html

# Каталог с одним щелчком мыши
опубликовать/

# Публикация веб-результатов
*.Publish.xml

# Вывод сборки Windows Azure
csx
*.build.csdef

# Каталог пакетов приложений магазина Windows Store
Пакеты приложений/

# Другие
*.Кэш
Клиентская корзина/
[Ss]текст[Cc]указ.*
~$*
*~
*.dbmdl
.*[Стр.]ublish.xml
*.pfx
*.настройки публикации
модульная корзина/
темпбин/

# Файл сайта EPiServer (VPP)
Данные приложения/

# RIA/Проекты Silverlight
Сгенерированный код/

# Резервное копирование и файлы отчётов при преобразовании старого файла проекта в новый
# Версия Visual Studio. Файлы резервных копий не нужны, потому что у нас есть git ;-)
_ Файлы отчетов о повышении уровня/
*Резервное копирование/
Список обновлений*.XML
Список обновлений*.htm

# vim
*.текст~
*.swp
*.swo

# Временные файлы при открытии LibreOffice в ubuntu
.~замок.*
 
# svn
.svn

# CVS - Система управления версиями
**/РЕЗЮМЕ/

# Остатки от разрешения конфликтов в системе управления версиями
*.оригинал

# Файлы SQL Server
**/App_Data/*.mdf
**/App_Data/*.ldf
**/App_Data/*.sdf


# Сгенерированные файлы LightSwitch
Созданные произведения/
_Pvt_Extensions/
ModelManifest.xml

# =========================
# Осколки окон
# =========================

# Кэширование файлов образов Windows
Большие пальцы.db
большие пальцы.db

# Файл конфигурации папки
Desktop.ini

# Корзина, используемая в общих файловых ресурсах
$RECYCLE.BIN/

# Файлы, сгенерированные операционной системой #
Значок?

# Файлы хранилища настольных служб Mac
.DS_Store

# Кэш компилятора SASS
.sass-кэш

# CTP для Visual Studio 2014
**/*.sln.ide

# Что-то временное в Visual Studio
.против/

# материал из дотнета
project.lock.json

# ПО СРАВНЕНИЮ С 2015 ГОДОМ+
*.vc.vc.opendb
*.vc.db

# Всадник
.идея/

# Код Visual Studio
.vscode/

# Выходная папка, используемая Webpack или другими материалами FE
**/node_modules/*
**/wwwroot/*

# Специфичный для конкретного потока
*.feature.cs
*.feature.xlsx.*
*.Спецификация_*.html

# Проекты UWP
Пакеты приложений/

#####
# Конец основного списка игнорируемых элементов, ниже приведены пользовательские настройки для каждого проекта (шаблоны или пути)
#####